PlaneTP/Documentation/obj/Debug/net7.0-windows/Documentation.csproj.AssemblyReference.cache
PlaneTP/Documentation/obj/Debug/net7.0-windows/Documentation.assets.cache
PlaneTP/Documentation/obj/Debug/net7.0-windows/Documentation.GeneratedMSBuildEditorConfig.editorconfig
